@import '../../../../_variables.scss';

.menu {
  width: 18%;

  a {
    text-decoration: none;
    font-size: 1.125rem;
    color: $text-color;
    font-family: $default-font, sans-serif;
  }

  img {
    cursor: pointer;
    height: 25px;
    margin-right: 0.5rem;
    width: 25px;
  }

  &_item {
    align-items: center;
    display: flex;
    justify-content: flex-start;

    &:first-child {
      a {
        color: $purple;
        font-family: $default-font, sans-serif;
        font-weight: 700;
      }
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    height: 276px;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding-left: 0.5rem;
  }
}